<div *ngIf="isLoadingResults">
    <mat-spinner class="spinner" style="margin: 0 auto"></mat-spinner>
</div>

<mat-card class="invoice-card" *ngIf="form">
    <mat-card-header>
        <mat-card-title>Klient</mat-card-title>
        <mat-card-subtitle>Nazwa usera</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="onSaveForm()" [disabled]="form.invalid">Zapisz</button>
        <button mat-raised-button color="warn" (click)="onCancel()">Anuluj</button>
    </mat-card-actions>
    <mat-card-content>
        <div class="form-container">
            <form [formGroup]="form">
                <div class="form-fields row">
                    <mat-form-field class="col-12 col-md-6" [floatLabel]="getFloatLabelValue()">
                        <mat-label>Nazwa firmy</mat-label>
                        <input formControlName="name" matInput placeholder="Nazwa firmy" />
                        <mat-error *ngIf="form.get('name')?.hasError('required')">Proszę podać nazwę firmy.</mat-error>
                        <mat-error *ngIf="form.get('name')?.hasError('minlength')">Nazwa firmy musi zawierać minimalnie 3 znaki.</mat-error>
                        <mat-error *ngIf="form.get('name')?.hasError('maxlength')">Nazwa firmy musi zawierać maksymalnie 100 znaków.</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12 col-md-3" [floatLabel]="getFloatLabelValue()">
                        <mat-label>Numer NIP</mat-label>
                        <input formControlName="taxNumber" matInput placeholder="Numer NIP" />
                        <mat-error *ngIf="form.get('taxNumber')?.hasError('required')">Proszę podać numer NIP</mat-error>
                        <mat-error *ngIf="form.get('taxNumber')?.hasError('invalidNIP')">Ten NIP jest nieprawidłowy. Wpisz ciąg cyfr bez myślników.</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12 col-md-3" [floatLabel]="getFloatLabelValue()">
                        <mat-label>E-mail</mat-label>
                        <input formControlName="email" matInput placeholder="E-mail" readonly />
                        <mat-error>Podaj adres e-mail.</mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-12 col-md-4" [floatLabel]="getFloatLabelValue()">
                        <mat-label>Adres 1</mat-label>
                        <input formControlName="address1" matInput placeholder="Adres 1" />
                        <mat-error *ngIf="form.get('address1')?.hasError('required')">Proszę podać adres.</mat-error>
                        <mat-error *ngIf="form.get('address1')?.hasError('minlength')">Adres musi zawierać minimalnie 3 znaki.</mat-error>
                        <mat-error *ngIf="form.get('address1')?.hasError('maxlength')">Adres musi zawierać maksymalnie 100 znaków.</mat-error>
                        <mat-error *ngIf="form.get('address1')?.hasError('pattern')">Używasz niedozwolonych znaków. Popraw adres.</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12 col-md-4" [floatLabel]="getFloatLabelValue()">
                        <mat-label>Adres cd..</mat-label>
                        <input formControlName="address2" matInput placeholder="Adres 2" />
                    </mat-form-field>
                    <mat-form-field class="col-12 col-md-4" [floatLabel]="getFloatLabelValue()">
                        <mat-label>Kod pocztowy</mat-label>
                        <input formControlName="zip" matInput placeholder="Kod pocztowy" />
                        <mat-error *ngIf="form.get('zip')?.hasError('required')">Proszę podać kod kreskowy.</mat-error>
                        <mat-error *ngIf="form.get('zip')?.hasError('pattern')">Wpisz poprawny kod kreskowy w formacie: "XX-XXX".</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12 col-md-4" [floatLabel]="getFloatLabelValue()">
                        <mat-label>Miejscowość</mat-label>
                        <input formControlName="city" matInput placeholder="Miejscowość" />
                        <mat-error *ngIf="form.get('city')?.hasError('required')">Proszę podać nazwę miejscowości.</mat-error>
                        <mat-error *ngIf="form.get('city')?.hasError('minlength')">Nazwa miejscowości musi zawierać minimalnie 3 znaki.</mat-error>
                        <mat-error *ngIf="form.get('city')?.hasError('maxlength')">Nazwa miejscowości musi zawierać maksymalnie 100 znaków.</mat-error>
                        <mat-error *ngIf="form.get('city')?.hasError('pattern')">Używasz niedozwolonych znaków. Popraw nazwę miejscowości.</mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-12 col-md-4" [floatLabel]="getFloatLabelValue()">
                        <mat-label>Telefon</mat-label>
                        <input formControlName="phone" matInput placeholder="Telefon" />
                        <mat-error *ngIf="form.get('phone')?.hasError('required')">Proszę podać numer telefonu.</mat-error>
                        <mat-error *ngIf="form.get('phone')?.hasError('pattern')">Wpisz poprawny numer telefonu w formacie: "222222222".</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12 col-md-4" [floatLabel]="getFloatLabelValue()">
                        <mat-label>Numer konta:</mat-label>
                        <input formControlName="accountNumber" matInput placeholder="Numer konta" />
                        <mat-error *ngIf="form.get('accountNumber')?.hasError('pattern')"
                            >Wpisz numer konta w formacie: "22 2222 2222 2222 2222 2222 2222".</mat-error
                        >
                    </mat-form-field>
                    <mat-form-field class="col-12 col-md-4" [floatLabel]="getFloatLabelValue()">
                        <mat-label>Kraj</mat-label>
                        <mat-select formControlName="country" formControlName="country" name="country" filterBy="name" placeholder="Wybierz kraj">
                            <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }} </mat-option>
                        </mat-select>
                        <mat-error>Podaj kraj.</mat-error>
                    </mat-form-field>
                    <h3>Jeśli chcesz zmienić hasło, podaj je tutaj:</h3>
                    <mat-form-field class="col-12 col-md-6" [floatLabel]="getFloatLabelValue()">
                        <mat-label>Nowe hasło: </mat-label>
                        <input formControlName="password" type="password" matInput placeholder="Nowe hasło:" />
                    </mat-form-field>
                </div>
            </form>
        </div>
    </mat-card-content>
    <mat-card-actions> </mat-card-actions>
</mat-card>
