.app-header {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    top: 0;
    width: 100%;
    height: 55px;
    background: #fafbfc;
    box-shadow:
        0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
        0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
        0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    margin: 0 0 20px;
    &__info {
        padding-left: 10px;
        padding-top: 5px;
    }
}

.burger-menu {
    position: absolute;
    right: 0;
    top: 10px;
    padding: 15px;
    cursor: pointer;
    transform: scale(1.5);
    z-index: 999;
    mat-icon {
        width: 30px;
        height: 25px;
        border: 1px solid black;
        border-radius: 5px;
    }
}
