.header {
    &-h2 {
        font-size: 1.2rem;
        padding: 20px;
    }
    &-p {
        font-size: 0.8rem;
        padding: 20px;
    }
}
.dashboard-info {
    max-width: 750px !important;
}

.mat-drawer {
    box-shadow:
        0px 8px 10px -5px rgba(0, 0, 0, 0.2),
        0px 16px 24px 2px rgba(0, 0, 0, 0.14),
        0px 6px 30px 5px rgba(0, 0, 0, 0.12) !important;
}

.invoice2-sidebar {
    .list-item {
        display: flex;
        align-items: center;
    }
    .text {
        font-size: 14px;
    }
    .icon {
        margin-right: 8px;
        font-size: 20px;
        vertical-align: middle;
    }
}
