.invoice2-main {
    background: rgba(255, 255, 255, 0.45);
}

.invoice-card {
    &-button {
        display: flex;
        align-items: start;
        justify-content: center;
    }
    mat-card-actions {
        button {
            margin-right: 10px;
        }
    }
    .form-container {
        .form-fields {
            margin-top: 15px;

            mat-form-field {
                padding: 10px;
            }
        }
    }
}
