.invoices-card {
    mat-card-content {
        padding-top: 20px;
    }

    tr:hover {
        background: whitesmoke;
    }

    tr:active {
        background: #efefef;
    }

    &-addbutton {
        margin-right: 10px;
    }
}

.mat-table-responsive {
    // display: block;
    width: 100%;
    overflow-x: auto;
}

@media screen and (max-width: 980px) {
    .mat-mdc-card-content {
        padding: 0 8px 0 8px !important;
    }
    .invoice2-main {
        padding: 10px;
    }
    .mdc-data-table__cell,
    .mdc-data-table__header-cell {
        padding: 0 3px 0 8px !important;
    }
}
@media (max-width: 1100px) {
    .mat-cell,
    .mat-header-cell {
        font-size: 0.2rem !important;
    }
}
.mat-cell,
.mat-header-cell {
    font-size: 0.2rem !important;
}
