.loading {
  margin-left: 50px;
	text-align: center;
	width: min-content;
}

.loading__text {
	font-weight: 400;
	font-size: 1rem;
}

.loading__bar {
	position: relative;
	height: 5px;
	width: 5rem;
	background-color: rgb(169, 169, 169);
	border-radius: 0.5em;
	overflow: hidden;
}

.loading__bar::after {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 50%;
	height: 100%;
	// background-color: rgba(230, 230, 230, 0.891);
	background: linear-gradient(90deg, #fff5, rgba(230, 230, 230, 0.891));
	animation: loading-animation 1.3s infinite;
	border-radius: 1em;
}

@keyframes loading-animation {
	0% {
		left: -50%;
	}

	100% {
		left: 150%;
	}
}
